{% extends "layout.html" %}
{% set active_page = "books" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
        <div class="container">
            <div class="row clearfix">
                    {% for book in data %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="card m-2" style="height: 40rem;">
                            <img src={{book.img}} class="card-img-top" alt={{book.name}} height="300px" width="auto">
                            <div class="card-header text-center" style="height: 20rem;">
                              <h5 class="card-title mb-4">{{book.name}}</h5>
                            </div>
                            <div class="card-body text-center">
                                <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item">
                                      {% if book.special_price != 0 %}
                                      <p><span class="text-success fs-3">{{book.special_price}} </span></p>
                                      <p><span class="text-danger fs-5 text-decoration-line-through">{{book.current_price}} </span></p>
                                      {% else %}
                                      <span class="fs-5">{{book.current_price}}</span>
                                      {% endif %}
                                    </li>
                                  </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-end">
                                    <div class="col d-grid gap-1">
                                       <a href={{url_for("main.ShowBook",id=book.book_id)}} class="text-decoration-none text-dark btn btn-success">ادامه مطلب</a>
                                    </div>   
                                </div>
                            </div>
                          </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
{% endblock %}
    <script>
     $(document).ready(function(){
         $("#livebox").on("input",function(e){
             $("#datalist").empty();
             $("#spinner").removeClass("hide");
             $("#intro").addClass("hide")
             if($("#livebox").val() != '')
             {
                 $.ajax({
                     method:"post",
                     url:"/livesearch",
                     data:{text:$("#livebox").val()},
                     success:function(res){
                         if(res != '')
                         {
                             var data = ""
                             $.each(res, function(index,value){
                                 data += "<div class=\"col-md-3 mb-2 mt-2 \"><div style='width:255;height:600;' class=\"card shadow-sm rounded \"><img style=\"width:auto; height:333;\" class=\"card-img-top\" src="+value['img']+" alt=\"Card image cap\">";
                                 data += "<div class=\"card-body\">"
                                 data += "<h5 class=\"card-title\">"+value['name']+"</h5>";
                                 if(value['specialprice'] != 0)
                                 {
                                     data += "<p class=\"card-text\"> <del>"+value['price']+"</del></p>";
                                     data += "<b class=\"card-text text-danger\"> "+value['specialprice']+" </b>";
                                 }
                                 else
                                 {
                                     data += "<p class=\"card-text\">"+value['price']+"</p>";
                                 }
                                 data += "</div> <div class=\"card-footer text-muted\"><a href=/product/"+value['id']+" class=\"btn btn-block btn-primary\">جزئیات</a></div></div></div>"
                             });
                             $("#datalist").html(data);
                         }
                         else
                         {
                             var data = "<h1>محصولی با این جزئیات یافت نشد.</h1>"
                             $("#datalist").html(data);
                         }
                     },
                     complete: function () { //adding the .hidden class to remove spinner at then end of response.
                         $('#spinner').addClass('hide')
                     },
                 });
             }
             else
             {
                 $("#datalist").html('');
                 $('#spinner').addClass('hide');
                 $('#db').addClass('hide');
                 $("#intro").removeClass("hide")
             }
         });
     });
    </script>
