<html>
    <body>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="page-404">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <!--BEGIN CONTENT-->
                        <div class="inner-circle"><i class="fa fa-home"></i><span>404</span></div>
                        <span class="inner-status">چنین صفحه‌ای وجود ندارد</span>
                            <a href={{url_for('index')}} class="btn btn-danger ">
                                صفحه اصلی
                            </a> 
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>