{% extends "layout.html" %}
{% set active_page = "index" %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row clearfix" id="datalist">
        
    </div>
    <div class="row clearfix" id="origin">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card shadow-lg rounded ">
                <img style="width:auto; height:333;" class="card-img-top" src="{{book.img}}" alt="Card image cap">
                <div class="card-body" style="height: 150px;">
                    <h5 class="card-title">{{book.name}}</h5>
                </div> 
                <div class="card-footer text-muted text-center"><a href="{{url_for('.ShowBook', id=book.slug)}}" class="btn btn-block btn-primary">جزئیات</a>
                </div>
            </div>
            </div>
        <!-- <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card m-2 shadow-lg rounded" style="height: 40rem;">
                <a href="{{url_for('main.ShowBook',id=book.slug)}}"><img src={{book.img}} class="card-img-top" alt={{book.name}} height="300px" width="auto"></a>
                <div class="card-header text-center" style="height: 20rem;">
                </div>
                <div class="card-body text-center">
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            {{book.name}}
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="row ">
                        <span class="text-center text-secondary">
                            last update:
                            {{book.updated_on}}
                        </span>
                    </div>
                </div>
            </div>
        </div> -->
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#livebox").on("input",function(e){
            if($("#livebox").val().length >= 4)
            {
                $("#datalist").empty();
                $('#origin').hide()
                $("#spinner").removeClass("hide");
                $("#intro").addClass("hide")
                $.ajax({
                    method:"PUT",
                    url:"{{url_for('api.livesearch')}}",
                    data:{text:$("#livebox").val()},
                    success:function(res){
                        console.log(res)
                        if(res != '')
                        {
                            console.log(res)
                            var data = ""
                            $.each(res, function(index,value){
                                data += "<div class=\"col-md-4\"><div class=\"card shadow-sm rounded \"><img style=\"width:auto; height:333;\" class=\"card-img-top\" src="+value['img']+" alt=\"Card image cap\">";
                                data += "<div  style='height:150px;' class=\"card-body\">"
                                data += "<h5 class=\"card-title\">"+value['name']+"</h5>";
                            
                                data += "</div> <div class=\"card-footer text-muted text-center\"><a href=/book/"+value['slug']+" class=\"btn btn-block btn-primary\">جزئیات</a></div></div></div>"
                            });
                            $("#datalist").html(data);
                        }
                        else
                        {
                            var data = "<h1>محصولی با این جزئیات یافت نشد.</h1>"
                            $("#datalist").html(data);
                        }
                    },
                    complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                        $('#spinner').addClass('hide')
                        
                    },
                });
            }
            else
            {
                $("#datalist").html('');
                $('#spinner').addClass('hide');
                $('#db').addClass('hide');
                $("#intro").removeClass("hide");
                
            }
            if($("#livebox").val() === '' | $("#livebox").val().length < 4 ){
                $('#origin').show();
            }
        });
    });
</script>
{% endblock %}
