{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row clearfix">
            {% for book in books %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card m-2" style="height: 40rem;">
                    <img src={{book.img}} class="card-img-top" alt={{book.name}} height="300px" width="auto">
                    <div class="card-header text-center" style="height: 20rem;">
                      <h5 class="card-title mb-4">{{book.name}}</h5>
                    </div>
                    <div class="card-body text-center">
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">
                              {% if book.special_price != 0 %}
                              <p><span class="text-success fs-3">{{book.special_price}} </span></p>
                              <p><span class="text-danger fs-5 text-decoration-line-through">{{book.current_price}} </span></p>
                              {% else %}
                              <span class="fs-3">{{book.current_price}}</span>
                              {% endif %}
                            </li>
                          </ul>
                    </div>
                    <div class="card-footer">
                        <div class="row align-items-end">
                            <div class="col d-grid gap-1">
                                <button class="btn btn-success" type="button"><a href={{url_for("main.ShowBook",id=book.book_id)}} class="text-decoration-none text-dark">ادامه مطلب</a></button>
                            </div>   
                        </div>
                    </div>
                  </div>
            </div>
            {% endfor%}
        </div>
{% endblock %}