{% extends "layout.html"%}
{% set active_page = "products" %}
{% block head %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

{{ super() }}

{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="shadow-lg p-2 bg-body rounded text-center">
        <img src="{{book.img}}" alt="" class="img-responsive push-bit rounded" height="200px">
      </div>
    </div>
    <div class="col-md-8 align-middle">
      <div class="shadow-lg p-5 bg-body rounded">
        <div class="bg-light rounded-pill p-3 mb-3">
          <p class="h1 text-right">{{book.name}}</p>
        </div>
        {%if book.special_price !=0%}
        <div class="p-3">
          <label for="specialPrice">قیمت ویژه:</label>
          <p><span class="h2 fs-2 fw-bold text-danger" id="specialPrice">{{book.special_price}}</span></p>
          <label for="currentPrice">قیمت اصلی:</label>
          <p><span class="h2 text-decoration-line-through fs-4" id="currentPrice">{{book.current_price}}</span></p>
        </div>
        {%else%}
        <div class="p-3">
          <label for="currentPrice">قیمت اصلی:</label>
          <span class="h2 " id="currentPrice">{{book.current_price}}</span>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <h2>محصولات مرتبط</h2>
    <div class="col-md-8 offset-2">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {% for book,related in relateds %}
        <li class="nav-item" role="presentation">
          <img src="{{ url_for('main.static', filename=(related.book_id.split('-')[0]+'.png')) }}"
            alt="{{related.book_id.split('-')[0]}}" class="" id="pills-{{related.book_id.split('-')[0]}}-tab"
            data-bs-toggle="pill" data-bs-target="#pills-{{related.book_id.split('-')[0]}}" type="button" role="tab"
            aria-controls="pills-{{related.book_id.split('-')[0]}}" aria-selected="true" width="100px" height="">
        </li>
        {% endfor %}
      </ul>
      <div class="tab-content" id="pills-tabContent">
        {% for book,related in relateds %}
        <div class="tab-pane fade" id="pills-{{related.book_id.split('-')[0]}}" role="tabpanel"
          aria-labelledby="pills-{{related.book_id.split('-')[0]}}-tab">
          <div class="card mb-3" style="max-width: 700px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{book.img}}" alt="..." width="200px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{book.name}}</h5>
                  {%if book.special_price !=0%}
                  <p><span class="h2 fs-2 fw-bold text-danger">{{book.special_price}}</span></p>
                  <p><span class="h2 text-decoration-line-through fs-4 ">{{book.current_price}}</span></p>
                  {%else%}
                  <span class="h2"><strong>{{book.current_price}}</strong>تومان</span>
                  {%endif%}

                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-4">
                  <p class="card-text"><small class="text-muted">{{book.updated_on}}</small></p>
                </div>
                <div class="col-md-6">
                  <a href="{{url_for('.ShowSubProduct', id=book.book_id)}}" class="btn btn-outline-primary">جزئیات</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  // bar chart data
  var barData = {
    labels: [
      {% for item in labels %}
  "{{ item }}",
    {% endfor %}
    ],

  datasets: [{
    fillColor: "rgba(151,187,205,0.2)",
    strokeColor: "rgba(151,187,205,1)",
    pointColor: "rgba(151,187,205,1)",
    pointStrokeColor: "#fff",
    pointHighlightFill: "#fff",
    pointHighlightStroke: "rgba(151,187,205,1)",
    bezierCurve: false,
    data: [
      {% for item in values %}
          {{ item }},
  {% endfor %}]
      }
]
  }

  Chart.defaults.global.animationSteps = 50;
  Chart.defaults.global.tooltipYPadding = 16;
  Chart.defaults.global.tooltipCornerRadius = 0;
  Chart.defaults.global.tooltipTitleFontStyle = "normal";
  Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
  Chart.defaults.global.animationEasing = "easeOutBounce";
  Chart.defaults.global.responsive = false;
  Chart.defaults.global.scaleLineColor = "black";
  Chart.defaults.global.scaleFontSize = 16;

  // get bar chart canvas
  var mychart = document.getElementById("chart").getContext("2d");

  steps = 10
  max = {{ max }}
  // draw bar chart
  var LineChartDemo = new Chart(mychart).Line(barData, {
    scaleOverride: true,
    scaleSteps: steps,
    scaleStepWidth: Math.ceil(max / steps),
    scaleStartValue: 0,
    scaleShowVerticalLines: true,
    scaleShowGridLines: true,
    barShowStroke: true,
    scaleShowLabels: true,
    bezierCurve: false,
  });

</script>
{% endblock %}

</html>