{% extends "layout.html" %}
{% set active_page = "subproduct" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4" >
            <div class="shadow-lg p-5 m-3 bg-body rounded" style="max-height: 385px;">
                <img src="{{product.img}}" alt="" class="img-responsive push-bit border">
            </div>
        </div>
        <div class="col-md-8 align-middle">
            <div class="shadow-lg p-5 m-3 bg-body rounded">
                <div class="bg-light rounded p-3">
                    <p class="h1 text-right">{{product.name}}</p>
                </div>
                {%if product.special_price !=0%}
                    <label for="specialPrice">قیمت ویژه:</label>
                    <p><span class="h2 fs-2 fw-bold text-danger" id="specialPrice">{{product.special_price}}</span></p>
                    <label for="currentPrice">قیمت اصلی:</label>
                    <p><span class="h2 text-decoration-line-through fs-4" id="currentPrice">{{product.current_price}}</span></p>
                {%else%}
                    <label for="currentPrice">قیمت اصلی:</label>
                    <span class="h2 " id="currentPrice">{{product.current_price}}</span>
                {%endif%}
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</div>
{%  endblock %}