{% extends "dashboard-layout.html" %}
{% set active_page = "addProduct" %}
{% block head %}
{{ super() }}

<style>

    .hide{
        display: none;
    }
    footer {
        position:static;
        bottom: 0;
        width: 100%;
    }

    li#addbook:hover {
        font-size: larger;
    }
    span#badge{
        background-color:orange; 
        color:black;
    }
    span#badge:hover{
        background-color: white;
        color: black;
    }

</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    
    <h1 class="text-center mb-3">{{title}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST" action={{url_for('dashboard.addProduct')}}>
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{form.name.label(
                            class="form-label"
                            )}}
                            {{form.name(
                            class="form-control"
                            )}}
                            <div id="namehelp" class="form-text">نام اصلی محصول در سایت خودتان</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{form.slug.label(
                            class="form-label"
                            )}}
                            {{form.slug(
                            class="form-control"
                            )}}
                            <div id="slugproducthelp" class="form-text">
                                slug: برای نمایش در بخش url هر محصول است. لطفا اسلاگ مورد نظر را به زبان انگلیسی بنویسید.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{form.price.label(
                            class="form-label"
                            )}}
                            {{form.price(
                            class="form-control"
                            )}}
                            <div id="pricehelp" class="form-text">قیمت اصلی</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{form.specialPrice.label(
                                class="form-label"
                            )}}
                            {{form.specialPrice(
                            class="form-control"
                            )}}
                            <div id="specialPricehelp" class="form-text">قیمت ویژه</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    {{form.img.label(
                    class="form-label"
                    )}}
                    {{form.img(
                    class="form-control"
                    )}}
                    <div id="imghelp" class="form-text">عکس محصول</div>
                </div>
                <div class="mb-3">
                    {{form.description.label(
                    class="form-label"
                    )}}
                    {{form.description(
                    class="form-control"
                    )}}
                </div>
                <div class="mb-3">
                    <label for="badger" class="form-label">محصولات مرتبط</label>
                    <div dir="ltr" id="badger" class="text-center">
                        <p id="empty">هنوز محصول مرتبطی اضافه نکرده‌اید</p>
                        <input value="" type="hidden" id="IRP" name="IRP">
                    </div>
                    <hr>
                    <label for="inputrealtedproduct" class="form-label">جستوجو محصولات مرتبط</label>
                    <div class="" id="inputrealtedproduct">
                        <ul class="list-group">
                            <input type="text" id="relatedproduct" name="relatedproduct" class="list-group-item" placeholder="جستوجو ..."
                                value="">
                            <div id="datalist">
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <div class="d-grid gap-2">
                            {{form.submit(class="btn btn-outline-primary ")}}
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            ثبت محصولات به صورت یکجا
                        </button>
                    </div>
                    <!-- Button trigger modal -->
                    
                </div>
            </form>
            <hr>
            <!-- Modal -->
            <div class="modal fade text-secondary " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title" id="exampleModalLabel">اپلود لیست محصولات به صورت یکجا
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="upload-file" enctype="multipart/form-data"
                                action={{url_for('dashboard.uploadProduct')}}>
                                {{ form.csrf_token }}
                                <div class="mb-3">
                                    <details>
                                        <summary>{{upload_form.csvfile.label(class="col-form-label")}}</summary>
                                        <small>{{upload_form.csvfile.description}}</small>
                                      </details>
                                    {{upload_form.csvfile(class="form-control")}}
                                </div>
                                <div class="mb-3">
                                    {{upload_form.delimiter.label(class="col-form-label")}}
                                    {{upload_form.delimiter(class="form-control")}}
                                </div>
                                <div id="upload-btn" class="mb-3 text-center">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-warning" id="upload-file-btn"
                                            type="button">اپلود</button>
                                    </div>
                                </div>
                                <div id="spiner" class="mb-3 text-center hide" disabled>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-warning" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            <span class="visually-hidden">loading...</span>
                                          </button>
                                    </div>
                                </div>
                                <div id="message" class="mb-3 text-center" dir="ltr">
                                    <div  class="d-grid gap-2">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     $(document).ready(function () {
        $('#upload-file-btn').click(function () {
            var form_data = new FormData($('#upload-file')[0]);
            console.log('uploading...')
            $("#upload-btn").addClass('hide');
            $("#spiner").removeClass('hide');
            $.ajax({
                url: '{{url_for("dashboard.uploadProduct")}}',
                type: "PUT",
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (res) {
                    if(res != '')
                    {
                        $("#message").removeClass('hide');
                        var data = '<div class="alert alert-primary" role="alert">'+res+'</div>';
                        $("#message").html(data);
                    }
                    else
                    {
                        res = "پاسخی دریافت نشد";
                        var data = '<div class="alert alert-warning" role="alert">'+res+'</div>';
                        $('#message').html(data);
                    }
                },
                complete: function(){
                    $("#upload-btn").removeClass('hide');
                    $("#delimiter").removeClass('hide');
                    $("#spiner").addClass('hide');
                    setTimeout(function() {
                            $('#message').addClass('hide');
                    }, 12000);
                },
            });
        });
    });

</script>
<script>
var list = [];
$(document).ready(function () {
    $("#relatedproduct").on("input", function (e) {
        if ($("#relatedproduct").val().length > 4) {
            $.ajax({
                method: "post",
                url: "/api/livesearch",
                data: { name: $("#relatedproduct").val() },
            })
            .done(function(res){
                if (res != '') {
                        var data = ""
                        $.each(res, function (index, value) {
                            if(list.includes(value['PID']) != true){
                                data += "<li class=\"list-group-item list-group-item-action\" id='addbook' data-bookid="+value['PID']+">"+value['name']+" | "+value['PID']+"</li>";
                                    $('#datalist').html(data)
                            }
                            console.log();
                        });
                    }
                    else {
                        $('#datalist').empty();
                        alert('failed');
                    }
            });
        }
        if($('#relatedproduct').val() == ''){
            $('#datalist').empty();
        }
    });
});

$(document).on('click','li#addbook ',function(){
    $('#empty').hide()
    $(this).hide();
    var PID = $(this).attr('data-bookid');
    list.push(PID)
    $('input#IRP').attr('value', list)
    $('#badger').prepend("<div class='col'><span style=\"\" class=\"badge\" id=\"badge\" data-productid="+PID+">"+$(this).text()+"</span></div>");    
});

$(document).on("click", '#badge', function(){
    id = $(this).attr('data-productid')
    $('#addbook[data-bookid='+id+']').show()
    removeItemOnce(list, id)
    $('input#IRP').attr('value', list)
    $(this).remove()
    if(list == ''){
        $('#empty').show()
    }
});

function removeItemOnce(arr, value) {
  var index = arr.indexOf(value);
  if (index > -1) {
    arr.splice(index, 1);
  }
  return arr;
}



</script>
{% endblock %}