<!doctype html>
<html dir="rtl" lang="fa">

<head>
    {% block head %}
    <title>{{ title }} | رقبا</title>
    <link rel="stylesheet" href={{url_for('static', filename='bootstrap.rtl.min.css' )}}>
    <script src={{url_for('static', filename='bootstrap.bundle.min.js' )}}></script>
    <link rel="stylesheet" href={{url_for('static', filename='style.css' ) }}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css" media="screen">
        * {
            font-family: Vazir;
        }

        .hide {
            display: none;
        }

        nav li {
            margin-left: 30px;
            margin-right: 30px;
        }
        input.form-control:focus, textarea:focus, input:focus{
            background-color:silver!important;
        }
        footer {
        position:static;
        bottom: 0;
        width: 100%;
    }
    </style>
    {% endblock %}
</head>

<body class="text-white bg-dark">
    <div id="container">
        <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg mb-5">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a {% if active_page=="index" %} class="nav-link active" {% else %} class="nav-link" {%
                                endif %} aria-current="index" href="/">صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a {% if active_page=="addProduct" %} class="nav-link active text-danger" {% else %} class="nav-link" {%
                                endif %} href={{url_for('dashboard.addProduct')}}>افزودن محصول</a>
                        </li>
                        <li class="nav-item">
                            <a {% if active_page=="showProduct" %} class="nav-link active text-danger" {% else %} class="nav-link" {%
                                endif %} href={{url_for('dashboard.showProduct')}}>نمایش محصول</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
    <footer class="">
        <div class="container-fluid bg-white">
            <div class="row justify-content-center pt-3">
                <div class="col">
                    <small><a class="text-success text-decoration-none" href="https://codeberg.org/Safariyan">
                            <p class="text-right">طراح: مهدی صفریان</p>
                        </a></small>
                </div>
                <div class="col-7">
                    <small><a class="text-success text-decoration-none"
                            href="https://codeberg.org/Safariyan/dummyCrawler/src/branch/master/LICENSE">
                            <p class="text-right">Copyright (C) 2021 M.Safarian | GPL-3</p>
                        </a></small>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>

</html>