{% extends "dashboard-layout.html" %}
{% set active_page = "editProduct" %}
{% block head %}
{{ super() }}
<style>
    .hide{
        display: none;
    }

    li#addbook:hover {
        font-size: larger;
    }
    span#badge{
        background-color:orange; 
        color:black;
    }
    span#badge:hover{
        background-color: white;
        color: black;
    }

</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="text-center mb-3">{{title}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                      </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST" action={{url_for('dashboard.editProduct',id=product.id)}}>
                {{form.hidden_tag()}}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{form.name.label(
                            class="form-label"
                            )}}
                            {{form.name(
                            class="form-control"
                            )}}
                            <div id="namehelp" class="form-text">نام اصلی محصول در سایت خودتان</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{form.slug.label(
                            class="form-label"
                            )}}
                            {{form.slug(
                            class="form-control"
                            )}}
                            <div id="slugproducthelp" class="form-text">
                                slug: برای نمایش در بخش url هر محصول است. لطفا اسلاگ مورد نظر را به زبان انگلیسی بنویسید.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{form.price.label(
                            class="form-label"
                            )}}
                            {{form.price(
                            class="form-control"
                            )}}
                            <div id="pricehelp" class="form-text">قیمت اصلی</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{form.specialPrice.label(
                                class="form-label"
                            )}}
                            {{form.specialPrice(
                            class="form-control"
                            )}}
                            <div id="specialPricehelp" class="form-text">قیمت ویژه</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    {{form.img.label(class="form-label")}}
                    {{form.img(class="form-control")}}
                    <div id="imghelp" class="form-text">عکس محصول</div>
                </div>
                <!-- <div class="input-group">
                    <input type="file" class="form-control" id="imgproduct" aria-describedby="imgproducthelp" aria-label="Upload">
                    <button class="btn btn-outline-secondary" type="button" id="imgproducthelp">Button</button>
                  </div> -->
                  <div class="mb-3">
                    <label for="badger" class="form-label">محصولات مرتبط</label>
                    <div dir="ltr" id="badger" class="text-center">
                        {% for book,common in commons%}
                        <div class='col'><span class="badge" id="badge" data-productid="{{common.book_id}}">{{book.name}} | {{common.book_id}}</span></div>
                        {% endfor %}
                        <p id="empty">هنوز محصول مرتبطی اضافه نکرده‌اید</p>
                        <input value="{% for book,common in commons %}{{common.book_id}},{% endfor %}" type="hidden" id="IRP" name="IRP">
                    </div>
                    <hr>
                    <label for="inputrealtedproduct" class="form-label">جستوجو محصولات مرتبط</label>
                    <div class="" id="inputrealtedproduct">
                        <ul class="list-group">
                            <input type="text" id="relatedproduct" name="relatedproduct" class="list-group-item" placeholder="جستوجو ..."
                                value="">
                            <div id="datalist">
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    {{form.description.label(class='form-label')}}
                    {{form.description(class="form-control")}}
                </div>
                <div class="mb-3 text-center">
                    <div class="d-grid gap-2">
                        {{form.submit(class="btn btn-success btn-block")}}
                      </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var list = [
        {% for book,common in commons %}
            "{{common.book_id}}",
        {% endfor %}
    ];

if($("#badger").text().length >= 179){
    $('#empty').hide();
}

$(document).ready(function () {
    $("#relatedproduct").on("input", function (e) {
        if ($("#relatedproduct").val().length > 4) {
            $.ajax({
                method: "post",
                url: "/api/livesearch",
                data: { name: $("#relatedproduct").val() },
            })
            .done(function(res){
                if (res != '') {
                        var data = ""
                        $.each(res, function (index, value) {
                            if(list.includes(value['PID']) != true){
                                data += "<li class=\"list-group-item list-group-item-action\" id='addbook' data-bookid="+value['PID']+">"+value['name']+" | "+value['PID']+"</li>";
                                    $('#datalist').html(data)
                            }
                            console.log();
                        });
                    }
                    else {
                        $('#datalist').empty();
                        alert('failed');
                    }
            });
        }
        if($('#relatedproduct').val() == ''){
            $('#datalist').empty();
        }
    });
});
    
$(document).on('click','li#addbook ',function(){
    $('#empty').hide()
    $(this).hide();
    var PID = $(this).attr('data-bookid');
    list.push(PID)
    $('input#IRP').attr('value', list)
    $('#badger').prepend("<div class='col'><span style=\"\" class=\"badge\" id=\"badge\" data-productid="+PID+">"+$(this).text()+"</span></div>");    
});
    
$(document).on("click", '#badge', function(){
    id = $(this).attr('data-productid')
    $('#addbook[data-bookid='+id+']').show()
    removeItemOnce(list, id)
    $('input#IRP').attr('value', list)
    $(this).remove()
    if(list == ''){
        $('#empty').show()
    }
});
    
function removeItemOnce(arr, value) {
    var index = arr.indexOf(value);
    if (index > -1) {
    arr.splice(index, 1);
    }
    return arr;
}
    </script>
{% endblock %}