{% extends "dashboard-layout.html" %}
{% set active_page = "showProduct" %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="text-center">
    <h1>{{title}}</h1>
    <hr>
    {% if data %}
    <table class="text-center table table-striped table-hover table-light">
        <thead class="table-dark">
            <tr>
                <td>#</td>
                <td>نام</td>
                <td>اسلاگ</td>
                <td>عکس</td>
                <td>اخرین به روز رسانی</td>
                <td>جزئیات</td>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.slug}}</td>
                    <td><img src="{{row.img}}" alt="{{row.name}}" height="50px" width="auto"></td>
                    <td>{{row.updated_on}}</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <a href="{{url_for('dashboard.editProduct', id=row.id)}}" class="btn btn-sm btn-warning">اصلاح</a>
                            </div>
                            <div class="col">
                                <form action="{{url_for('dashboard.deleteProduct', id=row.id)}}" method="POST">
                                    <button class="btn btn-sm btn-danger" type="submit">حذف</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="table-dark">
            <tr>
                <td>#</td>
                <td>نام</td>
                <td>اسلاگ</td>
                <td>عکس</td>
                <td>اخرین به روز رسانی</td>
                <td>جزئیات</td>
            </tr>
        </tfoot>
    </table>
    {% else %}
    <h2 class="text-primary">دیتایی وجود ندارد</h2>
    {% endif %}
    <script>
        $(document).ready(function(){
            
        });
    </script>
</div>
{% endblock %}